
@font-face {
    font-family: sansationItalic;
    src: url(../fonts/Sansation_Bold_Italic.ttf);
    
}
@font-face {
    font-family: sansationBold;
    src: url(../fonts/Sansation_Bold.ttf);
}
@font-face {
    font-family: sansationLight;
    src: url(../fonts/Sansation_Light.ttf);
}
@font-face {
    font-family: sansation;
    src: url(../fonts/Sansation_Regular.ttf);
}
body{
    font-family: sansation, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #222;
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto 3rem;
    &--main {
        font-family: 'Joti One', cursive;
        font-size: 4.8rem;
        letter-spacing: 1rem;
        display: inline-block;
        animation: moveInLeft .5s ease-out;
    }
    &--sub {
        max-width: 70rem;
        font-size: 1.3rem;
        font-family: sansationLight, sans-serif;
        letter-spacing: 0.5rem;
        display: inline-block;
        animation: moveInRight .5s ease-out;
        opacity: 0.85;
    }
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    transition: $quick-trans;
}
.heading-tertiary{
    color: #A1A1A1;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.heading-fourth{
    font-size: 1.6rem;
    text-transform: uppercase;
}
.paragraph{
    font-size: 1.4rem;
    color: $def-bg;
    text-align: justify;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
