//BASE COLORS
$main-red: #F2013F;
$main-yellow: #E0C30D;
$main-green: #4AB239; 
$main-blue: #4A4BEB; 

//GRAY-SCALE COLORS
$def-bg: #f0f0f0;
$light-grey-1: #f0f0f0;
$light-grey-2: #eee;
$dark-grey-1: #333;
$dark-grey-2: #ccc;

//numerical
$rad-xs: 3px;

// FLOATY-GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 5rem;

//FONTS
$def-size: 1.6rem;

//transition
$quick-trans: all .2s ease-in-out;
$med-trans: all .5s ease-in-out;
$slow-trans: all .8s ease-in-out;