.pers__info{
    width: 12rem !important;
    height: 5rem;
    top: 83% !important;
}
.pers__info__wrapper{
    width: 62rem;
    height: 85rem;
    .form__group{
        width: 58rem !important;
    }
}